[2020-09-17 12:19] rhaschke commented on #527
Are you using srdfdom 0.6.2? There was a recent fix in srdfdom, which exactly fixes this problem.

[2020-09-17 12:19] #527 closed

[2020-09-17 14:25] AnlageM commented on #527
Thanks for the help, indeed using srdfdom 0.6.2 it works. Just a check, am I supposed to install srdfdom 0.6.2 from source, right? By installing the noetic binary, I could get only 0.6.0, I ask because I am new to ros and git, and I want to ensure I install packages properly.

[2020-09-18 06:11] rhaschke commented on #527
New binary releases are currently only available in [`ros-testing`](http://wiki.ros.org/action/show/TestingRepository?action=show&redirect=ShadowRepository). Only with the next sync, they will become available in the standard repo as well.

[2020-09-28 20:51] kappa95 opened #528 "Issue/Request for Tutorial/Doc of Pick and Place"
### Tutorial&Doc Pick and Place

I was following the tutorials and documentation for the ROS Kinetic, particularly the one related to Python Interface.
Is it possible to add the documentation and tutorial for grasping using Python?
Or in case can you link some guide/tutorials?
Thank you so much

### Your environment
* ROS Distro: Kinetic
* OS Version: Ubuntu 16.04

[2020-09-30 04:07] nehagarg commented on #342
I did the clean build as suggested by https://github.com/ros-planning/moveit_tutorials/issues/342#issuecomment-643735398 and installed pandas_moveit_config fromt apt but I am still getting the bad_alloc error as reported by https://github.com/ros-planning/moveit_tutorials/issues/342#issuecomment-643693131. I am running ros melodic on ubuntu 18. My boost library version is 1.65.1.

 Would appreciat

[2020-09-30 04:58] nehagarg commented on #342
Figured that cmake was finding an older boost version by running catkin build -v. Managed to make it work by changing CMakeLists.txt of moveit_tutorials to find the version 1.65.1 and specifying -DBOOST_LIBRARYDIR=/usr/lib/x86_64-linux-gnu/ -DBOOST_INCLUDEDIR=/usr/include in catkin config.

[2020-09-30 16:53] tylerjw commented on #525
It looks like it was released: https://index.ros.org/p/franka_description/#noetic

[2020-09-30 16:58] tylerjw commented on #525
This is blocked by https://github.com/ros-planning/panda_moveit_config/issues/72

[2020-09-30 18:20] tylerjw opened #531 "Default Planning Groups Image (and _Kin. parameters file_ field)"
### Description

Following the tutorial on master for creating the moveit_panda_config I noticed that the image for the `Planning Groups` tab doesn't match the current version of that page.  There is a new parameter called _Kin. parameters file_.  There are no instructions for this field also.

Reference page: https://ros-planning.github.io/moveit_tutorials/doc/setup_assistant/setup_assistant_tuto

[2020-09-30 18:39] tylerjw opened #533 "[setup assistant] Robot disapears when you add the virtual joint"
### Description

I don't know if this is intentional but when you add the fixed virtual joint to world the robot model disapears from the right side.

This was done with franka_description installed from released debian on Noetic and MoveIt built from master at commit 6eeee4b7a.

Here is a couple images to show you what I mean:
![disapearing_robot_before](https://user-images.githubusercontent.com/

[2020-09-30 18:52] tylerjw commented on #533
I also tested this with the version of franka_description in their repo which is of the same version as the one released into Noetic debians (0.7.0).

[2020-10-01 10:31] rhaschke commented on #533
This is an issue in MSA itself. I filed a fix: https://github.com/ros-planning/moveit/pull/2335

[2020-10-01 10:31] #533 closed

[2020-10-03 17:16] tylerjw opened #535 "Embedded video broken"
### Description

I experience this on the master branch version of the tutorials in Firefox 81.0 on Ubuntu 20.04.  I'm not sure how to fix it.  If I click on the link I can watch the video, I imagine the intent was to have that video embedded in the page, not a link.

![embedded_video_broken](https://user-images.githubusercontent.com/2490389/94997639-c7663000-0569-11eb-838c-2e25f0d54e0b.png)

[2020-10-03 18:14] felixvd commented on #535
Related: #474

[2020-10-05 01:24] PeterMitrano opened #537 "python planning scene interface incorrectly handles namespacing"
### Description

Naive concatenating of strings breaks ros namespacing in `planning_scene_interface.py`. Just doing `ns + '/myname'` doesn't work because if `ns=''` then you get a leading slash which prevents ROS_NAMESPACE & `rospy.resolve_name` from working.

I can submit a PR if you want, although this should be an extremely simple fix:

something like this would work
[code]

### Your environmen

[2020-10-05 02:43] PeterMitrano commented on #537
oops, this was obviously meant for the main moveit repo. I'll move it.

[2020-10-05 02:43] #537 closed

[2020-10-07 20:12] DLu commented on #525
Also blocked by https://github.com/ros-industrial/universal_robot/issues/537 and https://github.com/ros-planning/moveit_grasps/issues/100

[2020-10-21 22:26] kappa95 commented on #465
I have the same question... Actually I'm working on a Yumi and in order to move the same arms in the same time I tried to plan the motion for each arm and extracted the points of the joints in order to have the positions... Later I had used the group associated to the 2 arms and I used the points.
In anycase moving a single arm didn't consider the collision with the other in motion I think. So it

[2020-10-21 22:36] kappa95 opened #548 "Improve the tutorials and documentation"
## Improve the documentation of the tutorials for Python
There are big differences in the documentation between Python and C++ and so could be better Improve and explain more in detail the features present in programming with Python. Particularly in basics operations like pick and place

### Add the documentation about multiple robot
It is missing a part related how to move multiple robots, there

[2020-10-22 08:07] felixvd commented on #465
Related: https://github.com/ros-planning/moveit/issues/2287

[2020-11-10 16:53] Sission opened #553 "Robot Pose option did not show and tutorial problem"
### Description

I set the home position in Step 5: Add Robot Poses. However, when I run $ roslaunch panda_moveit_config demo.launch. My named home position does not show in my "start state" and "goal state". (I picked the right planning group).

Another problem is in Step 4: Add Planning Groups:
For the gripper, the text says "Add Link". However, the figure attached shows it was added as "Joints"

[2020-11-10 19:48] rhaschke commented on #553
This issue section is for bug reports, not for help requests.
Please direct questions to https://answers.ros.org.

[2020-11-10 19:48] #553 closed

[2020-11-11 22:52] dqii commented on #525
Does the tutorial still work with Noetic, or would it be better to use Melodic for now?

[2020-11-12 20:56] davetcoleman commented on #548
Please contribute these @kappa95 ! :-)

[2020-11-12 22:10] kappa95 commented on #548
I'm still discovering how to do the features that I asked 😂🖖

[2020-11-18 06:51] irenjie commented on #73
helpful for me

[2020-12-01 18:43] jordane520 opened #562 "Problem: [demo.launch] is neither a launch file in package"
### Description:
I follow the "MoveIt Setup Assistant tutorial".
In the final step, I send roslaunch panda_moveit_config demo.launch rviz_tutorial:=true
Then receive:
RLException: [demo.launch] is neither a launch file in package [panda_moveit_config] nor is [panda_moveit_config] a launch file name
The traceback for the exception was written to the log file.

I also follow the ROS tutorial.  sourc

[2020-12-09 14:12] SiHaoShen opened #564 "Cannot visualize MotionPlanning in RViz"
### Description

Hi,

I am trying to use the tutorial to understand Moveit, however I am stucked in the tutorial "MoveIt Quickstart in RViz". Since I can't open "MotionPlanning" from the moveit_ros_visualization folder, I waited more than half an hour, RViz won't responding. Restarting my PC or rebuilding the tutorial from source doesn't work either.
![Screenshot from 2020-12-09 14-53-21](https://

[2020-12-09 14:27] JafarAbdi commented on #564
There's an exception being thrown while loading planning adapters, please make sure to source your workspace `source PATH_TO_WS/devel/setup.bash`

[code]

[2020-12-09 14:54] SiHaoShen commented on #564
Thank you for the reply! However, I really source the setup bash file to my workspace, as the tutorial suggested. And the problem

This is what I have done until now:

[code]

When I build the from here
`git clone https://github.com/ros-planning/moveit_tutorials.git -b master`

The error message is gone, however the same problem still exist:

[code]

[2020-12-09 22:48] rhaschke commented on #564
If you are runing on Melodic with default debian MoveIt packages installed (that's what I got from your comments), then the melodic branches are the correct ones. The error message about unavailable `ResolveConstraintFrames` plugin can be ignored.

From your initial description, I understand that the rviz display dialog doesn't close after selecting the MotionPlanning display, right? So, I guess t

[2020-12-13 13:58] Ctiger96 commented on #531
I have the same puzzle, would you plz tell me what to do with it?

[2020-12-24 14:43] predator4hack commented on #548
@davetcoleman I have written a python script for pick and place but after grabbing the object, I'm getting this error: Solution found but the environment changed during execution and the path was aborted.
Can you suggest any way to solve this? I referred to the issue: https://github.com/ros-planning/moveit/issues/417 but didn't get any solution.

[2020-12-25 06:46] YANGHANJIANG commented on #531
I have the same puzzle. Any help would be appreciated.

[2020-12-29 17:01] auman66 opened #569 "Add tag for search engine to skip old tutorial pages in search"
### Description

Overview of your issue here.

### Your environment
* ROS Distro: [Indigo|Jade|Kinetic]
* OS Version: e.g. Ubuntu 16.04
* Source or Binary build?
* If binary, which release version?
* If source, which git commit or tag?

### Steps to reproduce
Tell us how to reproduce this issue. Attempt to provide a working demo, perhaps using Docker.

### Expected behaviour
Tell us what should ha

[2021-01-07 13:15] JafarAbdi commented on #498
Close by https://github.com/ros-planning/moveit_tutorials/pull/571

[2021-01-07 13:15] #498 closed

[2021-01-07 22:30] ly19264 opened #572 "Joint Limits not showing in the joint_limits.yaml"
### Description

Overview of your issue here.

### Your environment
* ROS Distro: Melodic
* OS Version: Ubuntu 18.04

### Steps to reproduce
Creating a moveit package from moveit setup assistant

### Expected behaviour
Joint Limits should be taken from the URDF and be displayed in the joint_limits.yaml

### Example current output:
joint_limits:
  joint0:
    has_velocity_limits: true
    max_veloc

[2021-01-13 08:01] mqnc opened #574 "possible problem with orientation in all_close() check"
https://github.com/ros-planning/moveit_tutorials/blob/fff33d2b73af1d07ba329bbb0fceb9cb1c48edc0/doc/move_group_python_interface/scripts/move_group_python_interface_tutorial.py#L67

this will fail on opposite quaternions which represent the same orientation

or is it guaranteed that the w component is always positive?

[2021-01-17 23:18] YijiongLin commented on #574
In a unit quaternion, the w should always be a positive one.  See [here](https://en.wikipedia.org/wiki/Quaternions_and_spatial_rotation).

![image](https://user-images.githubusercontent.com/26537492/104858818-b9ba9780-5919-11eb-8d65-4dd462be1409.png)

And the w here actually is the real part of the quaternion. You can read more in the method: `geometry_msgs.msg.Quaternion()`

[2021-01-17 23:23] YijiongLin opened #575 "Why do the tutorial source code need the "all_close" function"
https://github.com/ros-planning/moveit_tutorials/blob/fff33d2b73af1d07ba329bbb0fceb9cb1c48edc0/doc/move_group_python_interface/scripts/move_group_python_interface_tutorial.py#L56

Could anyone give me some ideas about this function? What's the purpose of this function?

Thanks in advance!

All the best,

[2021-01-18 07:00] rhaschke commented on #574
The only limitation for unit quaternions is to be normalized to one. Particularly, it is possible to represent the very same rotation by q and -q. So yes, @mqnc's objection is correct, that `all_close` will fail for quaternions q and -q, although they represent the same orientation. @mqnc, did you observe any issues due to this shortcoming?

[2021-01-19 08:07] mqnc commented on #574
@rhaschke yes, I observed the issue that I cannot sleep well anymore since I've seen this. This is a tutorial which is supposed to show people how things are done properly. They will use this code as a template and it will run in industrial and medical applications. I can provide a pull request to fix this.

[2021-01-19 09:22] mqnc commented on #574
https://github.com/ros-planning/moveit_tutorials/pull/577

[2021-01-20 06:45] CaesarLinxw opened #578 "OpenRAVE installation issue"
### Description
I followed the OpenRAVE installation process in the MoveIt tutorial (http://docs.ros.org/en/melodic/api/moveit_tutorials/html/doc/ikfast/ikfast_tutorial.html). When I went through the source install steps of OpenRAVE and hit $ make -j$(nproc). Errors raised. The make log is attached.

### Your environment
* ROS Distro: Melodic
* OS Version: Ubuntu 18.04
* Source Install
* git clone

[2021-01-20 09:35] rhaschke commented on #578
I suggest to follow the more modern tutorial of the master branch for IKfast: https://ros-planning.github.io/moveit_tutorials/doc/ikfast/ikfast_tutorial.html
This one uses a pre-installed docker image to run OpenRAVE, which is tested and works for sure.

[2021-01-20 12:10] CaesarLinxw commented on #578
@rhaschke Thank you for your reply! Does it matter the branch is for Noetic but my ROS version is Melodic?

[2021-01-20 13:13] rhaschke commented on #578
The docker-based IKfast code generator will work on any system.

[2021-01-20 14:53] CaesarLinxw commented on #578
@rhaschke Thanks! I will give it a try!

[2021-01-21 16:05] simonbogh commented on #470
I can confirm this is still happening with the same setup. `panda_moveit_config` is cloned into the workspace.

Getting this error as well, which is probably due to the former

    ros.moveit_ros_visualization: Unable to connect to move_group action server 'move_group' within allotted time (30s)

[2021-01-25 12:33] ndehio opened #580 "typo "hueristics""
I found a minor typo in this [paragraph](http://docs.ros.org/en/melodic/api/moveit_tutorials/html/doc/ompl_interface/ompl_interface_tutorial.html#determinism):
"tuning special hueristics" -> heuristics

[2021-01-25 12:40] rhaschke commented on #580
Thanks for pointing this out. A PR would have been even more welcome :wink: I fixed it in melodic-devel now, on master this typo was fixed already.

[2021-01-25 12:40] #580 closed

[2021-01-25 13:13] ndehio opened #581 "Planning example with user-defined constraint available?"
Where can I find a c++/python example that demonstrates how to use the OMPL planner?

For my specific use case with the panda robot, the planner should output a trajectory with a goal state that minimizes a custom, user-specified cost (or, in other words, that is feasible with respect to a custom, user-specified constraint). The goal state to be optimized will have a non-zero velocity.

I read the

[2021-01-25 16:10] tylerjw commented on #581
There is this tutorial PR: https://github.com/ros-planning/moveit_tutorials/pull/518

That depends on this PR on moveit: https://github.com/ros-planning/moveit/pull/2273

If that is what you are looking for you'll need to build moveit from source to follow that tutorial.  It is not currently merged in because it is not passing CI.  Currently, the CI failure may or may not be a result of this PR.

[2021-01-25 17:27] ndehio commented on #581
Thanks for your quick answer.
This interesting PR-example imposes a path constraint:
[code]
In my case, I want to impose a constraint on the goal state only. Is that possible?

[2021-01-27 10:35] ndehio commented on #581
I will try to rephrase my question:

How can I plan a trajectory that ensures the feasibility of a user-defined constraint for at least one of the discrete steps?

[2021-01-27 14:10] stefanieZhao77 commented on #469
It works, thank you!

[2021-01-28 14:22] JafarAbdi commented on #581
I'm not sure about the Python interface, but for the C++ one in the MotionPlanRequest you can set the [goal_constraints](https://github.com/ros-planning/moveit_msgs/blob/master/msg/MotionPlanRequest.msg)

[2021-02-04 16:32] Baschalp commented on #470
I could also confirm the issue having the panda_moveit_config being cloned into the ws. Solution mentioned [here](https://github.com/ros-planning/moveit_tutorials/pull/273#issue-240611365) did not work on Ubuntu 18.04 (VirtualBox) with ROS Melodic.

[2021-02-08 22:25] ndehio commented on #581
Thanks for your comments!

[2021-02-08 22:25] #581 closed

[2021-02-10 02:01] felixvd commented on #575
It's a convenience function to compare the values in two lists. You can read `all_close` as `all_values_in_these_lists_are_close`. You can see it used [here](https://github.com/ros-planning/moveit_tutorials/blob/fff33d2b73af1d07ba329bbb0fceb9cb1c48edc0/doc/move_group_python_interface/scripts/move_group_python_interface_tutorial.py#L220) to compare if the robot is close to the target after executin

[2021-02-10 02:01] #575 closed

[2021-02-10 02:29] felixvd commented on #482
Late response because no one watches this repository for user support. Posting a detailed question on ROS Answers detailing what you have tried is the best way to get support.

Closing because this is a homework question and outdated.

[2021-02-10 02:29] #482 closed

[2021-02-10 02:32] felixvd commented on #466
Closing because this is likely outdated, and this should be on ROS Answers.

[2021-02-10 02:32] #466 closed

[2021-02-10 02:36] felixvd commented on #564
Ping @SiHaoShen

[2021-02-10 02:38] felixvd commented on #548
@kappa95 Did you figure out some of the things on this list? Will you be able to write something up? People who recently suffered from tutorial shortcomings are usually the best people to do it.

@predator4hack Try posting a detailed question on ROS Answers for your problem.

[2021-02-10 02:40] felixvd commented on #578
Is this solved @CaesarLinxw ?

[2021-02-10 02:48] felixvd opened #585 ""Connect MoveIt to real robot" is hard to discover"
More and more users just want to make their robot move. The tutorial does not lead them to [the right page](http://docs.ros.org/en/melodic/api/moveit_tutorials/html/doc/controller_configuration/controller_configuration_tutorial.html), and that page seems like it could be less technical and have more guidance for complete newcomers.

Changing the name of that page and adding a reference to the [Qui

[2021-02-10 03:50] CaesarLinxw commented on #578
@felixvd

I tried steps in this link: https://github.com/crigroup/openrave-installation to install the OpenRAVE before trying the docker-based generator and it went well.

[2021-02-10 04:23] felixvd commented on #578
@rhaschke There's nothing keeping the new installation instructions from being backported to Melodic, right? I'll open a first-timer issue about it if not.

[2021-02-10 04:34] felixvd commented on #535
@tylerjw This now works for me on Chrome/MacOS and Firefox 85 on Ubuntu 20.04, so I assume it's fixed by #550

[2021-02-10 04:34] #535 closed

[2021-02-10 07:04] rhaschke commented on #578
Yes, please go ahead. Technically, there is no reason to apply the same approach in Melodic as well. However, I think @davetcoleman wanted to keep the old approach around.

[2021-02-10 08:50] felixvd opened #586 "Backport OpenRAVE instructions to Melodic"
The [new instructions]() for OpenRAVE are a lot more convenient, so they should be backported to the Melodic tutorials. We can insert a comment to the effect of "These instructions use Docker for convenience. If you want to install OpenRAVE to your system directly, refer to the [Kinetic tutorials](http://docs.ros.org/en/kinetic/api/moveit_tutorials/html/doc/ikfast/ikfast_tutorial.html)" if @davetc

[2021-02-10 08:53] felixvd commented on #578
It's still in the [Kinetic tutorials](http://docs.ros.org/en/kinetic/api/moveit_tutorials/html/doc/ikfast/ikfast_tutorial.html) and the history, so it won't be lost. I made another issue so I'll close this one.

[2021-02-10 08:53] #578 closed

[2021-02-10 11:49] kappa95 commented on #548
@felixvd Hi, well actually reading a lot of posts on the web I discovered something of the list:
* Regarding moving robot with two arms (but surely works even with more arms): if i configure the group of both arms from the setup assistant with joints instead of chain. I can use the group of two arms in order to set two different target in this way: `group_both.set_pose_target(point1, "End effector

[2021-02-10 13:28] felixvd commented on #130
Thanks for the report. Considering that the tutorial uses the panda now, I'll close this.

[2021-02-10 13:28] #130 closed

[2021-02-10 13:29] felixvd commented on #72
I'll close this as it seems to be a bug with pr2_common, if anything.

[2021-02-10 13:29] #72 closed

[2021-02-10 13:30] #97 closed

[2021-02-10 13:31] felixvd commented on #95
Since the link in the original post is broken and this seem to be stale, I'll close this. Please reopen if need be.

[2021-02-10 13:31] #95 closed

[2021-02-10 13:32] felixvd commented on #103
Something might have been wrong with how you specify the file's location. That section of the tutorial has changed considerably since this post, so I'll close this.

[2021-02-10 13:32] #103 closed

[2021-02-10 13:45] YijiongLin commented on #575
Hi @felixvd ,

Thanks for the reply! I've thought about checking the pose but not sure since it is in simulation and such a step seems not that necessary. But yes it is always good to check with the target pose condition.

All the best,

[2021-02-10 13:48] felixvd commented on #441
Fixed by #443

[2021-02-10 13:48] #441 closed

[2021-02-23 18:55] lucasrebra opened #588 "[move_group-7] process has died. Error code= -11"
### Description
I installed ROS in my raspberry using the ubiquity robotics image. It works fine but now Im trying to launch the movegroup following a tutorial and is giving me that eror. I fund some issues related but I still don't understand what's happening.

I'm working in a raspberry pi 4, so I think this mustn't be the problem.

### Your environment
* ROS Distro: [Kinetic]
* OS Version: e.g.

[2021-02-24 09:13] ChildofUngolianth commented on #417
For me reinstalling openrave AND changing the lst lines of ikfast.py worked fine
For Ubuntu 18.04 and Melodic:
Faulty tries:
Installing OpenRave for ikfast package: FIRST TRY, DID NOT WORK: (segementation fault and no cpp could be created from dae)
		$ sudo add-apt-repository ppa:openrave/release
		$ sudo apt-get update
		$ sudo apt-get install openrave0.8-dp-ikfast
	--> Error message, so I change

[2021-02-25 19:58] mlautman commented on #417
Sounds like you found a workaround. The IKFast solution generator is outside the scope of this repo. For that reason I think it is appropriate to close this issue. If you would recommend a change to the openrave install instructions or add a warning to the tutorials that this is a common failure case please do so in a PR

[2021-02-25 19:58] #417 closed

[2021-02-25 20:07] mlautman commented on #588
This is a rather esoteric use case that isn't supported. For that reason, I'm going to close this PR for now. If you get the same error with a more simple setup (pc running ubuntu natively) feel free to re-open. Also, if you do find a solution, please describe it here or open a PR with the fix.

[2021-02-25 20:07] #588 closed

[2021-02-25 20:11] mlautman commented on #572
That would be a really cool feature but unfortunately the moveit setup assistant does not provide that functionality. Joint limits in moveit are a little more complicated than you might think it should be. It's one of the rough edges in using the software. I would recommend reading through the code in moveit core for setting hard and soft limit to understand how the joint limits are set to ensure

[2021-02-25 20:11] #572 closed

[2021-02-25 20:15] mlautman commented on #574
closing now that #577 is merged

[2021-02-25 20:15] #574 closed

[2021-02-25 20:18] mlautman commented on #564
Closing because this is more than 2 weeks old. @SiHaoShen: If you still experience this issue, feel free to re-open and we can continue to discuss

[2021-02-25 20:18] #564 closed

[2021-02-25 20:20] mlautman commented on #562
Please be sure to source your workspace correctly. I can almost guarantee this is your issue. Please re-open if you continue to experience this issue.

[2021-02-25 20:20] #562 closed

[2021-02-25 20:21] mlautman commented on #548
@kappa95

[2021-02-25 20:21] #548 closed

[2021-02-25 20:31] mlautman commented on #528
@kappa95 This is not a bug, it is a feature request. As you learn about pick and place in python, please add documentation and fixes where they are needed. Future MoveIt users (including future you) will appreciate it :)

[2021-02-25 20:31] #528 closed

[2021-02-25 20:33] mlautman commented on #526
If you look at the kinematics base class in moveit you will find that getting all solutions for an IK pose isn't as straightforward as you might hope. That said, so long as your kinematic solver supports getting all the results, you should find the api call you are looking for in there.

Thanks for your question :)

[2021-02-25 20:33] #526 closed

[2021-02-25 20:44] mlautman commented on #531
Hey everyone, thank you for bringing this to our attention! MoveIt is a community project that is constantly improving over time so it isn't surprising to find new features coming out where documentation might lag. I searched through the ros-planning/moveit repo to find the additional feature here https://github.com/ros-planning/moveit/pull/1997. (Thanks @v4hn for putting that together!) If any of

[2021-02-26 09:41] v4hn commented on #572
Entries in the joint_limits.yaml are essentially overrides for limits defined in the URDF. Because, among other nodes, the actual hardware controllers will only see the limits from the URDF and it can be misleading to set them in the yaml.
So feel free to submit a patch to write the position limits extracted from the URDF to the yaml as well (should be straight-forward), but they should be disable

[2021-03-05 07:25] omeranar1 opened #589 "[moveit_servo] nothing happend when "param set robot_link_command_frame""
->rosparam set /servo_server/optional_parameter_namespace/robot_link_command_frame my_link
->rosparam get /servo_server/optional_parameter_namespace/robot_link_command_frame
<-my_link

does not change the movements.
--
but when i change the "robot_link_command_frame" line in "ur_simulated_config.yaml" file then call
->roslaunch moveit_servo spacenav_teleop_tools.launch

everything working good

[2021-03-05 14:11] AndyZe commented on #589
Hi @omeranar1,

That's just the way ros parameters (usually) work. They get loaded at initialization but (usually) changing them at runtime has no effect. If you need that functionality, you'd probably use `dynamic_reconfigure`.

The good news is, you can dynamically change the command frame of the SpaceNavigator at runtime and Servo will do the transformation for you.

Servo takes a geometry_msgs

[2021-03-05 14:11] AndyZe commented on #589
I'm going to close the issue because I don't see anything to be done. Feel free to open a new one if you have a different issue.

[2021-03-05 14:11] #589 closed

[2021-03-05 14:13] AndyZe commented on #589
If you want, make a PR to the tutorial to improve documentation of changing the command frame at runtime. That would be great.

[2021-03-05 19:24] v4hn commented on #589
I disagree. Your "usually" is just a specific programming pattern. It's perfectly fine to look up parameters at runtime in your node, but it is associated with additional overhead. Because moveit_servo should run at high rates without delays, it is still a good idea to leave things as they are. Especially because you already pointed out an alternative :+1:

[2021-03-10 02:09] felixvd opened #593 "Replace "MoveIt!" with "MoveIt" in kinetic-devel"
Just find+replace all the occurrences of the old "MoveIt!" name with the new ("MoveIt"). Just simple housekeeping.

[2021-03-10 14:01] RodrigoCodeBernardo opened #597 "Use moveit only to calculate trajectories"
### Your environment
* ROS Distro: melodic

Is it possible to use moveit only to calculate trajectories? I am creating a toolbox to control a UR3 and want to use moveit only for calculating trajectories.

So far I have been using the command to use moveit:

roslaunch ur3_moveit_config ur3_moveit_planning_execution.launch limited:=true

his method works, but it ties a lot of nos that I don't need t

[2021-03-10 14:27] felixvd commented on #597
This is more suited for a ROS answers question, but how will you execute the trajectories? Unless you use only the Pilz industrial motion planner, there will be no equivalent in URScript to execute what you calculate. If your toolbox ends up just recreating MoveIt, you won't have gained much.

Apart from that I am unsure what exactly you are asking, but you can gain more insight into the pipeline

[2021-03-10 14:32] ChaxuGarg commented on #593
Can I work on this issue?

[2021-03-10 14:57] RodrigoCodeBernardo commented on #597
My goal is to not have the ur3 console so I can work with my arm.

I already have an action server that accepts the moveit message, and executes the trajectory.  My action gets the parameters (positions, velocities and accelerations)

            for i in range(n_points):

                positions.append(plan.joint_trajectory.points[i].positions)
                velocities.append(plan.joint_traje

[2021-03-10 15:04] felixvd commented on #597
I guess by "moveit message" you mean the JointTrajectory message, but I don't understand what you mean by "NOS" or "ur3 console".

Are you sure that you're not reimplementing something unnecessarily? Normally one would use the [official driver](https://github.com/UniversalRobots/Universal_Robots_ROS_Driver) to control the robot. Their controllers already advertise actions that accepts JointTraject

[2021-03-10 15:17] RodrigoCodeBernardo commented on #597
console = teach pendant; NOS = ROS NODES

Yes but you would have to have Urcap running to work, if I understood correctly on the universal robotics website.

So I wanted my moveit launch to launch only what was necessary for trajectory planning.

[2021-03-10 15:37] DLu commented on #593
@ChaxuGarg There is a PR already with #596

@felixvd I disagree on principle, but it does match with proper branding.

[2021-03-10 15:50] davetcoleman commented on #578
I don't have an opinion anymore about "keeping the old approach around", feel free to replace it

[2021-03-10 15:51] davetcoleman commented on #586
I'm fine not keeping the old instructions, if that is what makes sense.

[2021-03-11 15:05] felixvd commented on #597
To be honest I don't really see the point, as both MoveIt and the UR seem to work as intended. But you can try going through the launch file you mentioned in your first post and remove sections, and see if the trajectory planning as you envision it still works. Maybe you will learn something about the code and in what ways the problem isn't simple.

[2021-03-14 03:21] felixvd commented on #478
In addition to the thread @simonschmeisser just linked from, I noticed that the `Stored Scenes` and `Stored States` tabs are never mentioned or used outside of the Benchmarking tutorial page. The only use "in the wild" I have seen is in [this PR](https://github.com/ros-planning/moveit/pull/932), for which there are good reasons not to merge imo (although the functionality has a use).

I would cons

[2021-03-14 11:55] hybrayhem commented on #506
I reproduced issue in my Melodic setup on Ubuntu 18.04. Capsule-like collisions comes from [Franka description package](https://github.com/frankaemika/franka_ros/tree/kinetic-devel/franka_description) that recommended to use [here ](http://docs.ros.org/en/melodic/api/moveit_tutorials/html/doc/setup_assistant/setup_assistant_tutorial.html#getting-started)(moveit melodic tutorials). I think you can

[2021-03-17 18:13] robotrapta opened #613 "Compile error in moveit_cpp_tutorial: ‘moveit_cpp’ was not declared in this scope; did you mean ‘moveit_cpp_ptr’?"
### Description

I'm getting a compiler error when following the [getting started](https://ros-planning.github.io/moveit_tutorials/doc/getting_started/getting_started.html) instructions for the tutorial on a clean Ubuntu 20.04+Noetic machine.  (Arm64 FWIW)

Overview of your issue here.

### Your environment
* ROS Distro: Noetic
* OS Version: Ubuntu 20.04 Linux ip-172-31-3-122 5.4.0-1039-aws #41-Ub

[2021-03-17 18:16] robotrapta commented on #613
Looks like 186f9c464351c2105daece39bbddce586f381308 might have caused this?  Rolling back to edb533c14e38b4f4ec34345263a390dc59bb3a6c makes the error go away.

@henningkayser

[2021-03-18 07:36] rhaschke commented on #613
Yes, #549 caused this, which goes in sync with https://github.com/ros-planning/moveit/pull/2127, https://github.com/ros-planning/moveit_msgs/pull/95, and https://github.com/ros-planning/moveit_resources/pull/47. Until the next release is out, you will need to build _all_ those packages from source to use the latest versions. Alternatively, rollback moveit_tutorials as suggested in https://github.c

[2021-03-18 14:55] henningkayser commented on #613
@robotrapta sorry for the inconvenience

[2021-03-18 16:05] robotrapta commented on #613
No worries!  I understand that multi-package upgrades are tricky, but necessary for long-term code health.

I have what I need.  Maybe leave this open until the release is done so it's easier for others to find the workaround?  Do search engines prioritize open issues vs closed?  IDK.

[2021-03-19 08:43] #428 closed

[2021-03-25 03:03] GoBeyond2017 commented on #613
if you look up the source code of the  MoveItCpp class, you will find the MoveItCpp's namespace is moveit::planning_interface not moveit_cpp, so replace the moveit_cpp with moveit::planning_interface, then it works.

[2021-03-29 15:00] ranjitkathiriya opened #615 "Quick question about fake_execution flag in moveIt package"
Hello there,

Just a quick question, if we are configuring a real robot with move it what will be the flag of fake_execution flag? it will be true or false?

[code]

and what args is important when we are configuring a real robot? In repository, I only find 'publish_monitored_planning_scene' can you please put a light on this question?

Overview of your issue here.

### Your environment
* ROS Dist

[2021-03-29 15:11] #615 closed

[2021-03-29 15:20] felixvd commented on #615
It is good practice to answer your own questions if you found the solution.

[2021-03-29 15:32] ranjitkathiriya commented on #615
Sorry! but I think that I have posted a question in a wrong place so I have moved my question to Moveit https://github.com/ros-planning/moveit/issues/2570, instead of moveit tutorials.

once again sorry for inconvenience.

[2021-03-30 16:20] ur10 commented on #465
Hello, I am in the process of writing a short tutorial for this. Can someone kindly suggest best practices for writing such tutorials?

[2021-03-30 16:26] AndyZe commented on #465
I would say, take a look at some of the examples [here](https://github.com/ros-planning/moveit2_tutorials/tree/main/doc).

You can use an online [RST viewer](http://rst.ninjs.org/#) to quickly check how things look.

And the [README has a nice hint](cd $COLCON_WS/src/moveit2_tutorials
source /opt/ros/$ROS_DISTRO/setup.bash
./build_locally.sh) on how to build the webpage and display it locally:

[c

[2021-03-30 19:45] jliukkonen commented on #465
Thanks for the comments @v4hn! I didn't realize the selected path is validated against the latest planning scene online. But if I understand you correctly, my point still stands. It is quite possible, likely even, that there are two arms and both of their paths seem to be collision free at moment `t` and as they execute towards their next waypoints, they end up in collision with each other at mome

[2021-03-30 19:48] AndyZe commented on #465
Yeah, it has a feature to do that but it really doesn't work so well, due to ROS message latency for one thing.

[2021-03-30 19:51] jliukkonen commented on #465
By the way, my WMD21 plans to write a tutorial for running multiple arms failed miserably as I ended tangled up in modifying MoveIt Resources packages for different arms so that their URDF's (and the rest) would support namespacing. I might continue on this project later though but first I'd like to see those resource packages being improved. I posted a PR, see here for more details: [https://gith

[2021-03-30 20:08] v4hn commented on #465
Whether or not it's likely depends on the tasks of course, but it's possible. Note that the logic I linked checks *the whole remaining path*, not just the next waypoint. But because the mechanism can't easily know about the whole trajectory of the other arm, it usually makes so much more sense to execute the plans *together*.

Could you link some code here? I can't easily find it...
The approach I

[2021-03-30 20:13] AndyZe commented on #465
OK, that sounds similar to what I did. Find the closest collision and calculate minimum stop time based on current velocity.

https://github.com/ros-planning/moveit/blob/a8326da6cc420000b399e78f4048bf5df2abefca/moveit_ros/moveit_servo/src/servo_calcs.cpp#L905

https://github.com/ros-planning/moveit/blob/a8326da6cc420000b399e78f4048bf5df2abefca/moveit_ros/moveit_servo/src/collision_check.cpp#L162

[2021-03-31 01:26] felixvd commented on #465
In https://github.com/ros-planning/moveit/issues/2287 I suggested to use `TrajectoryExecutionManager` to extend this online collision checking to multiple trajectories, since it knows about all active trajectories. Please feel free to share thoughts.

[2021-04-04 16:47] Infinity8sailor commented on #465
i had made made one tutorial using ur5 arm. i just noticed that moveit tutorials are using  panda arm each time.
can i continue with ur5 or should change to panda?

[2021-04-04 16:55] tylerjw commented on #465
For some historical reason all tutorials are based on the [panda_moveit_config](https://github.com/ros-planning/panda_moveit_config).  If you based your tutorial on that it would make it easier to get reviewed/merged.  However, using multiple ur5s as an example seems like it'd also be useful.

[2021-04-05 08:29] 99arp opened #619 "IndexError: list assignment index out of range in Python Move group interface"
### Description
I think there is a small error in tutorial file for python move group interface in planning to a joint goal in this  [line](https://github.com/ros-planning/moveit_tutorials/blob/d2458c1ca66461240717a66eb7ff54fcdb318b84/doc/move_group_python_interface/scripts/move_group_python_interface_tutorial.py#L187).
Overview of your issue here.

### Your environment
* ROS Distro:[Melodic]

* O

[2021-04-05 15:07] felixvd commented on #597
Closing because this seems to be solved

[2021-04-05 15:07] #597 closed

[2021-04-05 15:07] felixvd commented on #593
Fixed by #596

[2021-04-05 15:07] #593 closed

[2021-04-05 15:08] felixvd commented on #509
I'll close this for inactivity (I also can't reproduce the problem), but feel free to reopen if it persists.

[2021-04-05 15:08] #509 closed

[2021-04-05 15:10] felixvd commented on #471
Closing for inactivity. Feel free to open if the problem persists.

[2021-04-05 15:10] #471 closed

[2021-04-05 15:11] felixvd commented on #455
Closing for inactivity. Support requests are easy to miss here. ROS Answers is the better place to post them.

[2021-04-05 15:11] #455 closed

[2021-04-05 15:14] felixvd commented on #449
Closing for inactivity, sorry for the long silence. I hope you managed to solve your problem.

[2021-04-05 15:14] #449 closed

[2021-04-05 15:15] felixvd commented on #440
Sounds like this is solved.

[2021-04-05 15:15] #440 closed

[2021-04-05 15:17] felixvd commented on #316
@mamoll ?

[2021-04-06 11:52] v4hn commented on #465
The "historical" reason was funding for PickNik to rework the tutorials if they make panda the main demonstration robot. Mike did a great job doing that.
I'm not sure whether the terms of this contract are still in effect.

- We can't force third-party contributions to use the robot if they use anything else
- Nonetheless it's nice to have streamlined tutorials for new users
- We should definitely

[2021-04-06 12:01] v4hn commented on #619
The `panda_arm` group has 7 joints (`panda_joint[1,2,3,4,5,6,7]`) and the array is 7 entries long over here.
I'm not sure why you would see a list with length 6 here.

[2021-04-06 12:08] 99arp commented on #619
Sorry, I mixed up a couple of things. Closing this issue.

[2021-04-06 12:08] #619 closed

[2021-04-06 17:19] ur10 commented on #465
I have opened a pull request that provides tutorial for synchronous movement, [here](https://github.com/ros-planning/moveit_tutorials/pull/621)

[2021-04-07 03:35] mamoll commented on #316
@felixvd thanks for the reminder! I just created a PR.

[2021-04-09 11:38] mohamedsayed18 opened #623 "E: Unable to locate package ros-noetic-opw-kinematics-plugin"
### Description
E: Unable to locate package ros-noetic-opw-kinematics-plugin

### Your environment
* ROS Distro: noetic
* OS Version: e.g. Ubuntu 20.04.2 LTS

### Steps to reproduce
sudo apt install ros-noetic-opw-kinematics-plugin

### Expected behaviour
successful installation

### Backtrace or Console output

[code]

[2021-04-09 12:07] gavanderhoorn commented on #623
Looks like it hasn't been released: [status_page/ros_noetic_default.html?q=opw](http://repositories.ros.org/status_page/ros_noetic_default.html?q=opw).

Perhaps @JeroenDM would be willing to do that.

[2021-04-15 15:56] lianghongzhuo commented on #505
I have the save issues in moveit melodic version.  Only see Franka robot, no octomap.
Any updates on this issues?

[2021-04-15 16:01] lianghongzhuo commented on #505
`rostopic echo /camera/depth_registered/points` can output point msgs
but can not see the pointcloud using rviz

[2021-04-15 19:05] lianghongzhuo commented on #505
I have fixed the issue, The launch file is wrong. I will open a pull request to fix the bug.

[2021-04-15 22:32] rhaschke commented on #505
Fixed via backporting #491.

[2021-04-15 22:32] #505 closed

[2021-04-16 10:23] lianghongzhuo commented on #505
Thanks for the fix.

[2021-04-21 16:58] lucbettaieb commented on #613
Leaving a comment to share that it ain't great that the solution for fixing *tutorial code* is to wait for it to sync up with other released packages that as of over a month later, still don't seem to be done.

If the namespaces aliased, I'm throwing in a +1 for reopening and merging https://github.com/ros-planning/moveit_tutorials/pull/614 so that future travelers aren't tripped up by this.  Then

[2021-04-26 19:18] hugsan opened #630 "Hand-eye callibration with 2 cameras"
### Description

I'm following the tutorial for [Hand-eye calibration](https://ros-planning.github.io/moveit_tutorials/doc/hand_eye_calibration/hand_eye_calibration_tutorial.html). I was able to succesfully callibrate 1 camera to 1 ArUco target, but recently I got the following error when setting up the target:

[code]
How can I fix that?

Moreover, my goal is to calibrate **two RealSense cameras

[2021-04-26 19:47] simonschmeisser opened #631 "detect_and_add_cylinder_collision_object_demo crashes"
### Description

Based on a report in https://github.com/ros-planning/moveit/pull/2596 I'm trying to run the `detect_and_add_cylinder_collision_object_demo`

[code]

the perception node crashes and tf complains about missing transforms

### Your environment
* ROS Distro: Melodic
* OS Version: Ubuntu 18.04
* Source or Binary build? Mixed
* If binary, which release version?
* If source, which git co

[2021-05-04 11:35] v4hn opened #638 "UR dependencies not declared in package.xml"
The new dependencies on universal robot package for the `mesh_filter` tutorial [are commented out in the `package.xml`](https://github.com/ros-planning/moveit_tutorials/blob/master/package.xml#L63-L66). As explained in [a comment of the PR that created the new mesh_filter tutorial](https://github.com/ros-planning/moveit_tutorials/pull/558/files#diff-37a67ff78eb7260214b323353263b9af40a2fa98719a1e81

[2021-05-04 12:06] rhaschke commented on #638
IMHO, our tutorials shouldn't depend on packages that are not released/available.
Why, in the first place, was the mesh_filter tutorial based on the UR? Can't we ask the ros_industrial consortium for a release?

[2021-05-04 12:16] v4hn commented on #638
I tend to agree, but the universal_robotics repository is a special case and @gavanderhoorn can probably comment.

I'm ok with that (which is why I merged it), but nobody commented [on a similar statement](https://github.com/ros-planning/moveit_tutorials/pull/558#issuecomment-829515640) in the PR.

[2021-05-05 17:10] UmutUz opened #640 "openrave docker issue"
I read in earlier discussions that openrave should be working fine with Melodic over docker and thought why not try it out. Well it doesn't work for Ubuntu 18/ROS Melodic (at least not for me). This is where it stops:

`rosrun moveit_kinematics auto_create_ikfast_moveit_plugin.sh --iktype Transform6D $MYROBOT_NAME.urdf <planning_group_name> <base_link> <eef_link>`

[code]

Not sure if it's docker

[2021-05-05 17:28] rhaschke commented on #640
Do you have a working network connection?
sympy 0.7.1 is still available on pypi: https://pypi.org/project/sympy/0.7.1/

[2021-05-05 17:36] UmutUz commented on #640
If your question is docker related, I cannot answer that. I just followed the instructions and this was the error I got. General network connection (as in connecting to the internet), yes I do but I have no clue if I have to change some docker settings.

[2021-05-05 17:41] rhaschke commented on #640
If you have a network connection in your host, usually docker can connect to the network as well. But, please, test the network connection from within your docker container, e.g. pinging some known site like google.

[2021-05-05 17:54] UmutUz commented on #640
Sorry for the late answer, forgot a lot about docker after not using it for a while.

So I can ping google.com with no problem.

[2021-05-06 14:10] rhaschke commented on #640
Duplicate of https://github.com/ros-planning/moveit/issues/2649. Closing here.

[2021-05-06 14:10] #640 closed

[2021-05-07 16:25] JStech opened #641 "Proposal to establish a tutorial style guide"
I propose we establish a style guide for the actual tutorial content, to promote a consistent appearance and guide contributors when adding new content. Although code style guides are plentiful on the internet, I didn't find a text-about-code guide to adopt and adapt. So instead, I looked through three core tutorials ([Getting Started](https://ros-planning.github.io/moveit_tutorials/doc/getting_st

[2021-05-08 12:08] felixvd commented on #641
I think those are all fine (although the GUI elements section could use some examples), but should we say something about other than formatting? E.g. "Explain concepts briefly first, then provide examples", "Avoid overly complicated code", "Use 'you' instead of passive voice", "Use present tense"?

[2021-05-09 02:18] JStech commented on #641
That's a good point. Maybe we have sections: Formatting, Structure, Voice

[2021-05-11 21:43] JStech commented on #524
#558

[2021-05-11 21:43] #524 closed

[2021-05-14 23:38] hjw-1014 opened #642 "How to create a tiago_moveit_config folder by own using MoveIT Setup Assistant?"
### Description

Currently, I want to create a new **tiago_moveit_config** folder. I found a Tiago xacro file [here](https://github.com/pal-robotics/tiago_dual_robot/blob/kinetic-devel/tiago_dual_description/robots/tiago_dual.urdf.xacro), and I tried to load it using **MoveIT Setup Assistant**, but I got problems, and I don't find a solution after I searched.

### Your environment
* ROS Distro: [M

[2021-05-15 05:15] rhaschke commented on #642
As stated by the error message, your workspace is missing the package `tiago_description_calibration`. Instead of using the repo https://github.com/pal-robotics/tiago_dual_robot, I suggest starting with https://github.com/pal-robotics/tiago_robot (assuming you have a single robot only).
Note, that there is a ready-to-use https://github.com/pal-robotics/tiago_moveit_config package available.
Finall

[2021-05-15 05:15] #642 closed

[2021-05-17 04:57] OmkarKabadagi5823 commented on #470
Even I faced the same issue in the tutorial, but I was able to fix it with few modifications in code and launch file.
Fix for the first issue was to load the arm in a valid state. That can be done by setting the state to `ready` using planning scene in code. Planning the pose now works after this edit. But this still does visually change the state of arm in RViz, but if you plan a pose with `show

[2021-05-17 15:24] hjw-1014 commented on #642
Thank you so much, I'm new to MoveIt, so very sorry about this.

[2021-06-18 10:13] Infinity8sailor opened #650 "How to setup moveit for effort_controllers/JointPositionController controller."
### Description

I know steps involved for position_controllers, as they provide FollowJointTrajectory Topics which moveit search for.
But in case of effort_controllers/JointPositionController controller, we get controller/command and controller/state on rostopic list.
im not getting proper documentation to set it uo properly.

### Your environment
* ROS Distro: Melodic
* OS Version: e.g. Ubuntu 1

[2021-06-20 11:30] corot commented on #517
I'm experiencing the same issue when picking/placing in gazebo, but only with the current melodic.
Doesn't happen if I use compiled master
[code]
Funny thing is that this started happening after re-making my moveit configuration with an updated wizard!
(here the [update commit](https://github.com/corot/thorp/commit/bac6e29e695a5c8ef7090e3447fae74cc567793b))

[2021-06-21 20:27] v4hn commented on #650
The `FollowJointTrajectory` action is provided by the [`joint_trajectory_controller`](https://wiki.ros.org/joint_trajectory_controller) which also runs on top of `effort_controllers/JointPositionController`.

If you don't have any kind of position tracking enabled with your system though, you can't execute trajectories planned through moveit.
On the other hand, as long as you can send velocity tar

[2021-06-21 20:27] #650 closed

[2021-07-03 10:24] jacob-02 commented on #321
I am having a similar issue too. But if I try to run ` roscd panda-moveit_config` it says

Any help in this matter could be appreciated.

[2021-07-03 12:22] felixvd commented on #321
Surely that should be panda_moveit_config?

On Sat, Jul 3, 2021 at 19:25 Jacob V Sanoj ***@***.***> wrote:

[2021-07-03 16:52] jacob-02 commented on #321
Oh crap. I made some mistakes while copying. Thank you

[2021-07-06 17:15] gautz opened #654 "Running TrajOpt tutorial"
### Description
Trying to run TrajOpt tutorial https://ros-planning.github.io/moveit_tutorials/doc/trajopt_planner/trajopt_planner_tutorial.html

### Your environment
* ROS Distro: [noetic]
* OS Version: Ubuntu 20.04
* Source build from Master a8c57d39

### Steps to reproduce
Setup a workspace and run the demo following https://ros-planning.github.io/moveit_tutorials/doc/trajopt_planner/trajopt_pl

[2021-07-20 13:25] v4hn commented on #641
@JStech This reads good to me, though I'm not sure our current tutorials all adhere to it. :)
Could you pour this text into a pull-request for a `STYLE_GUIDE.md`, as you proposed?

[2021-08-17 14:30] Wildimp opened #659 "MoveIt Tutorial for ROS Noetic not working"
### Description

I tried to run the second chapter of the MoveIt tutorial for ROS Noetic and cant get past the first command because a urdf/xacro file is missing. I guess it is related to the change of franka_ros from version 0.7.1 to 0.8.0 in which they changed the urdf files.
Changelog of franka_ros:
[https://github.com/frankaemika/franka_ros/blob/noetic-devel/CHANGELOG.md#080---2021-08-03](url)

[2021-08-20 21:44] thomascp commented on #74
Hi all,
I have a self-made dual arm robot.
I did a test on pr2, when I choosing arms, it will show two interactive marker for both arms.
But in my case, I don't have any, but if I choose right_arm or left_arm, there will be one interactive marker.
This is my srdf, quite similar to the pr2's.
[code]
I don't know how pr2 setup arms plan group, it would be very appreciated that someone can help me, t

[2021-08-24 00:28] DONJAGA opened #661 "roslaunch panda_moveit_config demo.launch rviz_tutorial:=true is not working"
### I have used moveit_turorials in my Ubuntu LTS 20.4 with ROS noetic without an issue for a while but suddenly occurred an error which stating there is no "/opt/ros/noetic/share/franka_description/robots/panda_arm_hand.urdf.xacro " but when looked for the file it does exists. I even tried to remove and reinstall ROS as well as movit the same error comes finally I removed and reinstalled the enti

[2021-08-24 00:39] tylerjw commented on #661
I don't see panda_arm_hand.urdf.xacro in that list.  What does this output?

`ls /opt/ros/noetic/share/franka_description/robots/panda_arm_hand.urdf.xacro`

I think this means franka_description probably changed and released and we need to update something that refers to that file.

[2021-08-24 15:20] #661 closed

[2021-08-24 15:23] DONJAGA commented on #661
YES, I got it now! Thanks, I thought "panda_arm_hand.urdf.xacro" was there.
moveit should change their executing script.

[2021-08-24 17:40] tylerjw commented on #661
Do you mind trying the various other xacro files that are there and letting us know if any of them work well?  If you figure this out you can open a PR to change the file and I'll be happy to help review it.

[2021-08-29 19:28] DONJAGA commented on #661
The following Solution from users-rizgiak worked for me!!

Remove panda_arm_hand.urdf.xacro changed to panda_arm.urdf.xacro.

find the file from

<pre><font color="#4E9A06"><b>don@don</b></font>:<font color="#3465A4"><b>~/ws_moveit/src/panda_moveit_config/launch</b></font>$ ls
chomp_planning_pipeline.launch.xml
default_warehouse_db.launch
demo_chomp.launch
demo.launch
fake_moveit_controller_manage

[2021-09-01 21:25] omar1slam commented on #465
Hi, so I have a robot with two arms and I've made one planning group for the whole robot.
On RVIZ it plans for both arms and executes simultaneously, but when I try to do it in code it fails to find a path, even though when I comment out one target pose for one arm the other works just fine.
Can anybody see what seems to be the problem?

[2021-09-03 14:02] felixvd commented on #465
Can't say, but my guess is that you are somehow not setting the targets correctly (e.g. unexpected orientation, target not applied to the correct end effectors etc)

[2021-09-05 22:08] tammerb commented on #659
@Wildimp I had the same issue. Follow these pull requests for updates:
https://github.com/ros-planning/panda_moveit_config/pull/83
https://github.com/ros-planning/panda_moveit_config/pull/84

[2021-09-15 14:06] robwoidi opened #665 "moveit task constuctor tutorial: pick and place demo don't start (Unknown frame: world / Failed to spawn object: table)"
### Description

I Try to follow the tutorial for the task constructor. But when I launch the"pickplace.launch" file with "roslaunch moveit_task_constructor_demo pickplace.launch" I get the Error:

[code]

And in the Terminal, where I first launched the demo file I get the Error
`[ERROR] [1631713054.898940932]: Unknown frame: world`

### Your environment
ROS Distro: noetic
OS Version: Ubuntu 20.04

[2021-09-15 14:10] rhaschke commented on #665
Do you use the latest version of moveit_resources?
See https://github.com/ros-planning/moveit_resources/issues/89 and https://github.com/ros-planning/moveit_resources/issues/97.

[2021-09-15 14:10] #665 closed

[2021-09-16 13:36] robwoidi commented on #665
Thanks! Now it works

[2021-09-30 13:17] Aki92-Xavier opened #668 "Hand-Eye Calibration with Xarm"
### Description

Can I use the Hand-Eye Calibration this page
https://github.com/ros-planning/moveit_tutorials/blob/master/doc/hand_eye_calibration/hand_eye_calibration_tutorial.rst
with Xarm6 that has moveit config.

### Your environment
* ROS Distro: [Indigo|Jade|Kinetic].
* OS Version: Ubuntu 20.04
* Source

[2021-10-09 09:52] JinXiangLai commented on #381
https://blog.csdn.net/wokaowokaowokao12345/article/details/51287011
this link can help you!

[2021-10-09 18:30] tylerjw opened #670 "Getting Started for Noetic build error"
### Description

The ROS Noetic Getting Started tutorial fails in the build step.  I did not install ros-testing repo.

### Your environment
* ROS Distro: Noetic
* OS Version: Ubuntu 16.04
* Source build

[code]

### Steps to reproduce
Follow the Noetic Getting started tutorial (without ros-testing repo).

### Expected behaviour
Project should build.

### Backtrace or Console output
[code]

[2021-11-09 01:00] Nitishg96 opened #677 "pilz motion planner with UR robots"
I am trying to setup pilz motion planner with UR5e. Is there any good tutorial/example to use it with C++ interface?

[2021-11-09 09:58] jschleicher commented on #677
This belongs on [ROS answers](https://answers.ros.org/) and is not a direct issue of the framework.

[2021-11-09 09:58] #677 closed

[2021-11-09 19:57] ruiaisun commented on #359
Hello, Can you tell me how to fix the transparency problem here? I tried to google the solution but did not find anyone. @rhaschke

[2021-11-09 20:31] rhaschke commented on #359
According to https://github.com/ros-planning/moveit_tutorials/issues/359#issuecomment-511008617, the transparency message can be considered as a warning. It doesn't affect the outcome of the IKfast generator.
If you want to fix the warning, you should have a look into your .dae file and fix the transparency of some link therein.

[2021-11-10 22:32] rhaschke opened #679 "Broken link in Gazebo tutorial"
The Gazebo tutorial refers to a fork of [`franka_ros` by @tahsinkose](https://github.com/ros-planning/moveit_tutorials/blob/37c070122880dd2da72c05dabec2a4effc826afe/doc/gazebo_simulation/gazebo_simulation.rst#L337-L341). However this fork was obviously deleted recently. @tahsinkose, could you please update the tutorial page correspondingly?

[2021-11-10 22:32] rhaschke opened #680 "Broken link in Gazebo tutorial"
The Gazebo tutorial refers to a fork of [`franka_ros` by @tahsinkose](https://github.com/ros-planning/moveit_tutorials/blob/37c070122880dd2da72c05dabec2a4effc826afe/doc/gazebo_simulation/gazebo_simulation.rst#L337-L341). However this fork was obviously deleted recently. @tahsinkose, could you please update the tutorial page correspondingly?

[2021-11-11 14:23] MichalDobis opened #681 "Please update STOMP planner documentation"
The stomp_core and the stomp_moveit has been split into two separe packages in pull request [882784c](https://github.com/ros-industrial/stomp_ros/commit/882784c6952e6456c85d0f61686913a33309bcfe)

Please, update documentation in https://ros-planning.github.io/moveit_tutorials/doc/stomp_planner/stomp_planner_tutorial.html section Prerequisites step 3. Now both packages are required https://github.co

[2021-11-11 20:27] tahsinkose commented on #680
@rhaschke not only the link but the whole tutorial is broken since `franka_ros` still lacks necessary features.

[2021-11-11 20:29] tahsinkose commented on #680
@rickstaa could you please provide the exact commits for a working Gazebo+MoveIt integration with the panda robot?

[2021-11-11 21:47] rhaschke commented on #680
We are in close collaboration with Franka to fix open issues. My WIP branch can be found here: https://github.com/frankaemika/franka_ros/pull/188.
A corresponding `panda_moveit_config` is available on its [noetic-devel branch](https://github.com/ros-planning/panda_moveit_config/tree/noetic-devel).

[2021-11-11 22:16] tahsinkose commented on #680
@rhaschke I have managed to make integration working with the following two PRs. Most of them are your and @rickstaa's changes.
* https://github.com/rhaschke/franka_ros/pull/2
* https://github.com/ros-planning/panda_moveit_config/pull/98

I'll refresh the tutorial once all development makes their ways to upstreams. Because most of the information in the tutorial is now redundant.

[2021-11-12 12:28] rhaschke commented on #680
I updated https://github.com/ros-planning/panda_moveit_config/tree/noetic-devel and https://github.com/frankaemika/franka_ros/pull/188 to reflect the latest discussions with Franka. Unfortunately, I'm still missing general feedback for https://github.com/frankaemika/franka_ros/pull/199.
I think both of you, @rickstaa and @tahsinkose, can already start/continue reworking the tutorials based on thes

[2021-11-12 12:29] rhaschke commented on #679
Duplicate of #680.

[2021-11-12 12:29] #679 closed

[2021-11-12 12:30] rhaschke commented on #681
You are welcome to file a PR :wink:

[2021-11-12 13:58] siddarth09 commented on #73
also try `rosdep  install --from-paths src --ignore-src -r -y`
 this solved the error for me

[2021-11-15 08:31] MichalDobis commented on #681
Ok, I suggest this PR: https://github.com/ros-planning/moveit_tutorials/pull/683

[2021-11-18 11:33] sm3304love opened #685 "pick_place_tutorial Error"
### Description

Overview of your issue here.

When the "pick place tutorial" is executed, the moment the gripper tries to pick up an object, the following error occurs.

sm3304love@sm3304love-AORUS-5-KB:~/ws_moveit$ rosrun moveit_tutorials pick_place_tutorial
[ INFO] [1637234143.240412042, 10.037000000]: Loading robot model 'panda'...
[ INFO] [1637234143.240956217, 10.037000000]: No root/virtual

[2021-11-18 13:16] rhaschke commented on #685
Looks like you didn't configure your controllers correctly.

[2021-11-18 15:32] sm3304love commented on #685
Do you mean ros_controllers.yaml?
![Screenshot from 2021-11-19 00-31-49](https://user-images.githubusercontent.com/57741032/142445780-81511bf2-8038-42e7-b530-b3efe04c5cc7.png)

[2021-11-18 15:35] sm3304love commented on #685
`# MoveIt-specific simulation settings
moveit_sim_hw_interface:
    joint_model_group: controllers_initial_group_
    joint_model_group_pose: controllers_initial_pose_
# Settings for ros_control control loop
generic_hw_control_loop:
    loop_hz: 300
    cycle_time_error_threshold: 0.01
# Settings for ros_control hardware interface
hardware_interface:
    joints:
        - panda_joint1
        - pa

[2021-11-18 17:45] rhaschke commented on #685
You are using [franka_description's URDF](https://github.com/sm3304love/ros_franka_discreption/blob/main/panda_moveit_config/launch/gazebo.launch#L15).
Which version you are using? The latest version doesn't provide a file `panda_arm_hand.urdf.xacro`?!
Does Gazebo start a `controller_manager`? Check with:
`rosservice list | grep controller_manager`
If not, the URDF is probably missing this tag:
[c

[2021-11-19 01:47] sm3304love commented on #685
Because the most recent version, Franka_ros, does not provide panda_arm_hand.urdf.xacro, the file was imported from the 0.7.0 version.
When using the  `rosservice list | grep controller_manager` command, ros_controller was not confirmed.

Is it right to add the content to the 'panda_arm_hand.urdf.xacro' file?

[2021-11-19 06:12] rhaschke commented on #685
Don't do this. Instead, apply https://github.com/ros-planning/moveit_tutorials/pull/667.

[2021-11-19 11:32] sm3304love commented on #685
I understood. However, "https://github.com/ros planning/moveit_tutorials/blob/master/doc/gazebo_simulation/gazebo_simulation.rst" explains based on `panda_arm_hand.urdf.xacro`. Is there any explanation for the latest version?

[2021-11-19 11:57] rhaschke commented on #685
Not yet, but we are working on it. As the new version introduced several regressions, it's not that easy, unfortunately.

[2021-11-19 12:29] sm3304love commented on #685
Okay. Then I have no choice but to wait. Thank you for your efforts.

[2021-11-19 13:11] sm3304love commented on #685
Last question. Will it take a long time to complete it?

[2021-11-19 13:44] rhaschke commented on #685
Just apply the patches from #667 for now and you should be fine.

[2021-11-21 05:52] #685 closed

[2021-11-29 06:17] Gaurav37 opened #686 "ROS melodic moveit_planner RRTConnect: Motion planning start tree could not be initialized! unable to cherry pick"
### Description
Please help with this issue:
[ INFO] [1638165553.885400193, 367.370000000]: ABORTED: No motion plan found. No execution attempted.
Failed while moving to goal

because of :
[ INFO] [1638165553.874703242, 367.359000000]: Planner configuration 'manipulator' will use planner 'geometric::RRTConnect'. Additional configuration parameters will be set when the planner is constructed.
[ WAR

[2021-11-29 06:53] rhaschke commented on #686
The error message is clear about your problem, isn't it:
`[ WARN] [1638165553.875416915, 367.360000000]: RRTConnect: Skipping invalid start state (invalid state)`
Probably you start planning from a state in a collision.

[2021-12-07 14:20] staycoolish opened #687 "Error due to robot_description"
When following Visualizing Collisions tutorial, the launch file doesn't work. After writing
`roslaunch moveit_tutorials visualizing_collisions_tutorial.launch`
 the following response is obtained:

[code]

### Your environment
* ROS Distro: Noetic
* OS Version: Ubuntu 20.04

Error must be similar to the one mentioned here: https://answers.ros.org/question/384900/failed-to-lunch-this-command/

[2021-12-07 14:34] rhaschke commented on #687
Both, franka_description and moveit_tutorials are strongly changing these days. See https://github.com/ros-planning/moveit_tutorials/pull/667 for a pending fixup. @v4hn, as we frequently see issues like this one, can't we simply merge the proposed PR?

[2021-12-10 10:09] Fitz13009 opened #688 "How to build moveit tutorial packages given Conda env ROS-noetic?"
### Description

Hi, I have strictly followed and installed ROS through https://github.com/RoboStack/ros-noetic
And get ros work properly. Later, I tried to install the moveit tutorial following https://ros-planning.github.io/moveit_tutorials/doc/getting_started/getting_started.html but cannot build it.

I did my best to replace the commands from "sudo apt-install" style to "mamba install" or "pip

[2021-12-23 15:00] theotromp97 opened #690 "RobotCommander vs MoveGroupCommander"
### Description

I was looking at the tutorials of moveit! (link) and was wondering the following:

What is the difference between moveit_commander, moveit_interface and robot_commander

The tutorial states the following:
Robotcommander --> Instantiate a RobotCommander object. Provides information such as the robot’s kinematic model and the robot’s current joint states
MoveGroupCommander --> Insta

[2021-12-26 15:57] pranav083 opened #691 "Issue in tutorial planning_scene_tutorial"
### Description :
##### Please correct me if I miss something in reporting my first issue
When running from the tutorial [page ](https://ros-planning.github.io/moveit_tutorials/doc/planning_scene/planning_scene_tutorial.html#setup), it is throwing an error :

[code]
When the line shown below from `panda_arm_hand.urdf.xacro`  to `panda_arm.urdf.xacro`, then it works fine:
https://github.com/ros-pla

[2021-12-29 15:41] rhaschke commented on #690
`MoveGroupCommander` is used to interface a _single_ planning group. It is needed for any kind of planning operation.
`RobotCommander` is an abstraction of the full URDF/SRDF, comprising _all_ planning groups of your robot.
Given a `RobotCommander` instance `robot`, you can access its groups (i.e. _instances_ of `MoveGroupCommander`) via:
[code]
Please consider filing a PR to improve the python tu

[2021-12-29 15:41] #690 closed

[2022-01-06 17:44] 1at7 commented on #417
Even after changing the last few lines I was having the same issue. I just rebuild the openrave package following these commands,
`cd openrave/build
cmake .. -DOPT_VIDEORECORDING=OFF  # Avoids AV errors
make -j$(nproc)
sudo make install `

after that I was able to generate the cpp file.

System information:
Ubuntu 18.04
openrave 0.9
ROS melodic
python 2.7

[2022-01-12 14:04] apupa opened #692 "Constraint Sampler Plugin Tutorial"
I am following the tutorial [Creating MoveIt Plugins](https://ros-planning.github.io/moveit_tutorials/doc/creating_moveit_plugins/plugin_tutorial.html) to create my own Constraint Sampler Plugin.
It is written to modify the ROBOT_moveit_constraint_sampler_plugin. However I am not able to find any template inside the both the moveit and the moveit_tutorials repositories.

Is the tutorial complete?

[2022-01-14 19:58] mlautman opened #693 "Broken link"
### Description

Broken link found the text reading "We will create the request as a constraint using a helper function available from the [kinematic_constraints](http://docs.ros.org/en/melodic/api/moveit_core/html/namespacekinematic__constraints.html#a88becba14be9ced36fefc7980271e132
) package."

Backport solution implemented for moveit2 tutorials here: https://github.com/ros-planning/moveit2_tut

[2022-01-16 22:21] mf093087 opened #694 "Melodic catkin build"
_________________________________________________________________________________
Errors     << moveit_tutorials:make /home/user/catkin_3tutorials/logs/moveit_tutorials/build.make.000.log
/home/user/catkin_3tutorials/src/moveit_tutorials-master/doc/trajopt_planner/src/trajopt_example.cpp: In function ‘int main(int, char**)’:
/home/user/catkin_3tutorials/src/moveit_tutorials-master/doc/trajopt_plan

[2022-01-17 15:07] JafarAbdi commented on #694
Hi @mf093087, could you please provide more info ? which branch/commit are you using ? are you using binaries? if yes what's the moveit version that's you're using?

[2022-01-17 20:19] auxoche opened #695 "Command to cut the robot's power for a proper shutdown"
Good evening, I would like to know if there is a command I can add to my code so that it turns off the servomotors before exiting. Right now the robot stays 'stiff' even after MoveIt program termination. Thank you in advance!

[2022-01-18 06:46] blairhyy0204 opened #696 "moveit_tutorials error on catkin build command_moveit_core"
### Description

I am trying to install the moveit tutorial but fails on the "catkin build" command.

Overview of your issue here.

### Your environment
* ROS Distro: [noetic]
* OS Version: Ubuntu 20

### Steps to reproduce
Tell us how to reproduce this issue.
https://ros-planning.github.io/moveit_tutorials/doc/getting_started/getting_started.html

### Expected behaviour
Tell us what should happen

[2022-01-18 06:58] rhaschke commented on #696
I'm sorry for the trouble. This is due to a recent source update in MoveIt. Should be fixed now.
Please update your catkin workspace, repeating the steps in [section "Create A Catkin Workspace"](https://ros-planning.github.io/moveit_tutorials/doc/getting_started/getting_started.html#create-a-catkin-workspace-and-download-moveit-source).

[2022-01-18 06:58] #696 closed

[2022-01-18 14:28] rhaschke commented on #695
Turning on and off your robot motors should be done by robot-specific software. That cannot be done by generic software like MoveIt.

[2022-01-18 15:38] simonschmeisser commented on #695
You could ask on answers.ros.org if there are ways to do this generically from a launch file

[2022-01-19 13:41] mf093087 commented on #694
Yes, I am using Moveit melodic version. I solved this issue already by following the official documentation.
http://docs.ros.org/en/melodic/api/moveit_tutorials/html/doc/getting_started/getting_started.html

[2022-01-19 15:42] rhaschke commented on #694
It's always a good idea to carefully read the docs ;-)

[2022-01-19 15:42] #694 closed

[2022-01-21 06:27] sm3304love opened #697 "Joint 'panda_joint1' declared as part of group 'panda_arm' is not known to the URDF Error occured"
### Description

Overview of your issue here.

### Your environment
* ROS Distro: [Melodic|]
* OS Version:Ubuntu 18.04

### Steps to reproduce
I modified the panda _arm_hand.urdf xacro file so that the robot is on top of the box. Here is the modified xacro file:
![Screenshot from 2022-01-21 22-15-10](https://user-images.githubusercontent.com/57741032/150533447-4b67484f-1835-4283-9f9e-82a5198e8de3.

[2022-01-21 16:58] JafarAbdi commented on #697
Duplicate of https://github.com/ros-planning/moveit/issues/3032

[2022-01-21 16:58] #697 closed

[2022-01-22 13:36] sm3304love opened #698 "Position_controllers/JointPositionController is missing from the moveit setup assistant."
### Description

After updating to ubuntu 20.04, I tried to create a new config file using moveit setup assistance. However, position_controllers/JointTrajectoryController was identified in the ROS Control pane selector, but position_controllers/JointPositionController was missing.

### Your environment
* ROS Distro: [noetic]
* OS Version:  Ubuntu 20.04

### Steps to reproduce
https://ros-planning

[2022-01-25 10:28] JafarAbdi commented on #698
It was removed by https://github.com/ros-planning/moveit/pull/2945/commits/c56d86a4dbf867f09e6392be01b3804ea76343f0, @rhaschke should I update the tutorials to reflect the change ?

[2022-01-25 10:45] sm3304love commented on #698
Yes, currently, the tutorial is explaining based on the old version.

[2022-01-25 13:06] rhaschke commented on #698
Yes, it would be great if you could validate and update the tutorial if necessary.
For now, just use the `position_controllers/JointTrajectoryController`.

[2022-01-27 08:39] sm3304love commented on #698
Thank you. It helped solve the problem.

[2022-01-27 08:39] #698 closed

[2022-02-06 07:34] mamariomiamo commented on #681
Number 3 in the prerequisite lists seems to be redundant if the user follow the Installing STOMP from source. Since we need both stomp and stomp_ros packages, I believe it is more accurate to differentiate the name when using wstool set as when I followed the current documentation, it led to build errors.

In fact, stomp_ros's dependencies.rosintall lists the stomp as well as ros_industrial_cke_bo

[2022-02-06 08:46] LAbron665 commented on #681
I have the error below when following the current STOMP planner tutorial.
![image](https://user-images.githubusercontent.com/90312932/152673696-d34cd52d-5e52-48ba-b56b-d66b98b12215.png)

[2022-02-06 15:46] rhaschke commented on #681
Addressed in #683.

[2022-02-06 15:46] #681 closed

[2022-02-12 09:35] qqfly commented on #122
It seems the docs have been updated, close this issue.

[2022-02-12 09:35] #122 closed

[2022-02-16 12:50] Mat198 commented on #585
Totally agree. It's even harder if you are using custom hardware in the robot.

[2022-04-01 19:25] Mikael512 commented on #654
how did you set up trajopt? i am trying to install it on ubuntu 20.04 and ros noetic but i cannot simply install openrave 0.9 or openrave 0.8 which is a requirement for trajopt. Do you have any suggestions?

[2022-04-11 22:56] rijalmadhav12 opened #707 "I'm using the ur5_moveit_config package from the universal_robot repository from ROS-Industrial."
### Description

Overview of your issue here.

### Your environment
* ROS Distro: [Indigo|Jade|Kinetic]
* OS Version: e.g. Ubuntu 16.04
* Source or Binary build?
* If binary, which release version?
* If source, which git commit or tag?

### Steps to reproduce
Tell us how to reproduce this issue. Attempt to provide a working demo, perhaps using Docker.

### Expected behaviour
Tell us what should ha

[2022-04-11 23:10] rijalmadhav12 commented on #707
**This is my code**
#!/usr/bin/env python3
import sys
import copy
import rospy
import moveit_commander
import moveit_msgs.msg
import geometry_msgs.msg
from math import pi
from std_msgs.msg import String
from moveit_commander.conversions import pose_to_list
moveit_commander.roscpp_initialize(sys.argv)
rospy.init_node('move_group_python_interface_tutorial', anonymous=True)
robot = moveit_commander.R

[2022-04-17 21:18] AzulRadio commented on #707
open ur3_moveit_config with moveit_setup_assistant and in the part where you define the control groups you should be able to find all the group names.
ur3_moveit_config/config/ros_controller.yaml might also list them if there is such a file. "endeffector_controller" means the group name is "endeffector" etc.

Also this should be a question for the ROS forum / universal_robot

[2022-04-26 12:36] sunnymints opened #709 "planning_scene.checkCollision only can check current state?"
Moveit demo  give  the example :planning_scene.checkCollision(collision_request, collision_result, copied_state, acm),but the copied_state from   robot_state::RobotState copied_state = planning_scene.getCurrentState(). This demo only can check current state?

but i want to check next state or check all tracks in advance,what can i do？

[2022-04-26 13:12] rhaschke commented on #709
Just pass all the states you want to check in series.

[2022-04-26 14:19] sunnymints commented on #709
Thank you for your reply, can you provide relevant API or functions?  I only know uses the moveit::planning_interface::MoveGroupInterface class to move() one by one, then use planning_scene.checkCollision() . Thank you again.

[2022-04-26 15:04] rhaschke commented on #709
There is no need to change the PlanningScene's RobotState. Just call this variant of `checkCollision`:
[code]

[2022-04-27 02:53] sunnymints commented on #709
Thanks again for your thoughtful reply, I may describe my problem this way. I only know the "moveit_msgs::RobotTrajectory trajectory", But I don't know how to convert"moveit_msgs::RobotTrajectory trajectory" to “moveit::core::RobotState& robot_state” and then send it to ''PlanningScene::checkCollision()''. I want to try your offer the function ''getWayPoint'', but i do not know how to use it(I wan

[2022-04-27 02:53] sunnymints commented on #709
Thanks again for your thoughtful reply, I may describe my problem this way. I only know the "moveit_msgs::RobotTrajectory trajectory", But I don't know how to convert"moveit_msgs::RobotTrajectory trajectory" to “moveit::core::RobotState& robot_state” and then send it to ''PlanningScene::checkCollision()''. I want to try your offer the function ''getWayPoint'', but i do not know how to use it(I wan

[2022-04-27 04:54] rhaschke commented on #709
Please just read the (API) docs. We cannot provide examples for each and every API function:
http://docs.ros.org/en/noetic/api/moveit_core/html/cpp/classrobot__trajectory_1_1RobotTrajectory.html#aaf22cc512f6d218ab4fafc1eb454d893
There are docs available for each separate MoveIt ROS package: https://moveit.ros.org/documentation/source-code-api

[2022-04-30 05:23] #709 closed

[2022-04-30 05:24] sunnymints commented on #709
Thanks again

[2022-05-06 12:57] dbdxnuliba commented on #342
thanks a lot @nehagarg  , your solution is very good !

[2022-05-16 00:13] burakaksoy commented on #623
I have the same issue

[2022-05-16 03:26] mohamedsayed18 commented on #623
Just clone clone this repo to your workspace https://github.com/Jmeyer1292/opw_kinematics

[2022-05-16 03:26] #623 closed

[2022-05-16 06:50] gavanderhoorn commented on #623
As you can see at [status_page/ros_noetic_default.html?q=opw](http://repositories.ros.org/status_page/ros_noetic_default.html?q=opw), everything now has been released, and should be available.

Provided you are using Melodic or Noetic, and a supported architecture of course.

In that case there should be no need to build anything from source any more.

[2022-05-16 07:38] simonschmeisser commented on #623
The name of the package is `ros-noetic-moveit-opw-kinematics-plugin` actually, I opened a PR

[2022-05-16 14:01] burakaksoy commented on #623
To build from source these commands worked:
[code]
For the released packages just running
[code]
works.

[2022-05-25 09:24] xiaopgaxiaopg commented on #342
I have the same problem, but I don't know how to modify it, can I communicate it

[2022-05-28 01:52] nhewitt99 opened #712 "Creating MoveIt Plugins Example Launchfile Fix"
### Description
Not sure if I'm missing something, but it seems like [the launchfile](https://github.com/ros-planning/moveit_tutorials/blob/master/doc/creating_moveit_plugins/lerp_motion_planner/launch/lerp_example.launch) included for the "Creating MoveIt Plugins" example (implementing a lerp planner) is incomplete. It only starts up one node, but [the MoveIt Noetic docs](https://ros-planning.git

[2022-05-28 18:07] #712 closed

[2022-06-15 09:52] AMAN021jin opened #716 "Error in building moveit_tutorial package using catkin_make"
* ROS Distro: Melodic
* OS Version: e.g. Ubuntu 18.04

adminspin@adminspin:~/catkin_ws$ catkin_make
Base path: /home/adminspin*/catkin_ws
Source space: /home/adminspin*/catkin_ws/src
Build space: /home/adminspin*/catkin_ws/build
Devel space: /home/adminspin*/catkin_ws/devel
Install space: /home/adminspin*/catkin_ws/install
Creating symlink "/home/adminspin*/catkin_ws/src/CMakeLists.txt" pointing t

[2022-06-15 09:59] rhaschke commented on #716
When you are working on Melodic, you should use the Melodic branch of the tutorials as stated [here](http://docs.ros.org/en/melodic/api/moveit_tutorials/html/doc/getting_started/getting_started.html#download-example-code).

[2022-06-15 09:59] #716 closed

[2022-07-08 10:14] science-code commented on #525
When following the ROS Noetic version of the [grasping tutorial](https://ros-planning.github.io/moveit_tutorials/doc/moveit_grasps/moveit_grasps_tutorial.html), cloning the `moveit_grasps` repository fails:
[code]

[2022-07-08 14:29] rhaschke commented on #525
Obviously, there is no noetic-devel branch. Try the master branch. If that works, please file a PR to fix the tutorial. Thanks.

[2022-07-19 01:56] gdubuque opened #720 "Can't see Panda Robot model in RViz"
### Description

Similar to issue [#155 with RViz2](https://github.com/ros-planning/moveit2_tutorials/issues/155), but using RViz and ROS Noetic.

Following the MoveIt Quickstart in RViz tutorial, but the Panda visual model does not appear in RViz. And like the other issue, the collision model can be seen, but not the robot's mesh.

### Your environment
* ROS Distro: Noetic
* OS Version: WIN11, WS

[2022-08-16 16:52] akgoins opened #722 "IKFast Tutorial: Fix explanation of free index"
### Description

The IKFast tutorial does not properly explain how to set the `FreeIndex` for a 7DOF robot arm.  It says that the free index is a link, when it actually is a joint.  I have a dual arm robot on a mobile base, and trying to specify a link index always resulted in an error similar to [this post here](https://answers.ros.org/question/285611/set-free_index-for-7-dof-robots-ikfast-moveit

[2022-08-16 18:18] rhaschke commented on #722
Thanks for reporting this issue. Do you mind filing a PR as well?

[2022-08-17 15:55] Pyprog08 opened #723 "turtlebot_arm_block_manipulation block_manipulation_moveit (Phantom X Pincher)"
Hi,
i am testing the tutulebot package for my robot phantom x pincher (https://github.com/turtlebot/turtlebot_arm).
 The config file is good i could move the robot with Motion Planning on Rviz . I want to to make the robot moving to a desired position (with coordinate) so i found this package: turtlebot_arm_block_manipulation but i need a 3D Camera to test it. So the question is how can i test it

[2022-08-30 15:25] BolunDai0216 commented on #659
You can try to change the following line in `planning_context.launch` of the `panda_moveit_config` package from

[code]

to

[code]

[2022-08-30 16:15] BolunDai0216 opened #724 "Error when running c++ tutorial"
### Description

Overview of your issue here.

### Your environment
* ROS Distro: Noetic
* OS Version: Ubuntu 20.04
* Source or Binary build? Binary, MoveIt1 Noetic

### Steps to reproduce
I was simply running

[code]
and in another terminal

[code]

### Expected behaviour
RViz looks like this:

![Screenshot from 2022-08-30 12-15-17](https://user-images.githubusercontent.com/36321182/187488079-445

[2022-08-30 17:38] rhaschke commented on #659
This issue was fixed in release 0.7.6

[2022-08-30 17:38] #659 closed

[2022-09-01 01:48] BolunDai0216 commented on #724
Do you know how I can get the stacktrace? All I got from the console is what I shared in the `Backtrace or Console output` section of my question.

[2022-09-01 03:20] tylerjw commented on #724
Here is the wiki page on lauching in gdb for ros1: http://wiki.ros.org/roslaunch/Tutorials/Roslaunch%20Nodes%20in%20Valgrind%20or%20GDB

[2022-09-02 10:25] rhaschke commented on #722
I guess you were referring to the [Kinetic tutorial](http://docs.ros.org/en/kinetic/api/moveit_tutorials/html/doc/ikfast/ikfast_tutorial.html)? See #725 for the proposed new wording.

[2022-09-02 19:27] rhaschke commented on #722
Fixed via #725

[2022-09-02 19:27] #722 closed

[2022-09-05 13:12] MightyMirko commented on #720
I got the same issue but having it virtualized as a vm on proxmox server without gpu passthrough. Your suggestion wasn't the solution :(
ubu2004
ros2 galactic

[2022-09-05 14:14] rhaschke commented on #720
@MightyMirko, figure out how to render OpenGL stuff in general with your VM.

[2022-09-07 10:00] MightyMirko commented on #720
@rhaschke
It should work - glxgears and co. are running good

[2022-09-07 10:20] rhaschke commented on #720
Maybe, it's the locale problem: https://github.com/ros-visualization/rviz/issues/1151#issuecomment-345726355?

[2022-09-07 10:22] MightyMirko commented on #720
Uff ... wow - it worked :D

[2022-09-07 10:23] rhaschke commented on #720
So, you need the locale setting? I just tried with a non-default locale and it still worked for me.

[2022-09-07 10:26] MightyMirko commented on #720
Hmm i also installed some spice libraries for a problem with virtviewer.. i'll uninstall them and try again

    sudo apt install
    mesa-utils
    xserver-xorg-video-qxl
    xserver-xspice
    spice-vdagent

![grafik](https://user-images.githubusercontent.com/23053791/188855998-59c9a21f-a95e-4571-bcc5-a4fe893b8c10.png)

[2022-09-07 10:35] MightyMirko commented on #720
yupp... if i set
    export LC_NUMERIC="de_DE.UTF-8"

it does not show any panda anymore.

It works with rdp and also with ssh -X

[2022-09-07 10:42] rhaschke commented on #720
These libs shouldn't affect rviz.

It does work for me! Which version of urdfdom do you use?
[code]

[2022-09-07 10:43] MightyMirko commented on #720
[code]

[2022-09-07 10:44] MightyMirko commented on #720
to clarify - i am on moveit2

[2022-09-07 10:50] rhaschke commented on #720
Please file your issue then over at https://github.com/ros-planning/moveit2_tutorials or https://github.com/ros2/rviz, depending on whether you also don't see the standard rviz RobotModel.

[2022-09-14 09:27] cnaes93 commented on #585
I found how to move the real panda robot in noetic version with moveit so I write it here maybe it will be useful for beginners like me.
First run the franka-control like:
`roslaunch panda_moveit_config franka_control.launch robot_ip:=172.16.0.2`
There can man move the robot with rviz or you can write a python code and move the robot with it. For example launch in other tab the tutorial python cod

[2022-09-18 11:59] whateverco opened #728 "Collision problems from MoveIt Quickstart in RViz"
### Description

Collision problems from MoveIt Quickstart in RViz

### Your environment
* ROS Distro:melodic
* OS Version: Ubuntu 18.04

### Steps to reproduce
When I do the steps in MoveIt Quickstart in RViz, after add "Motion Planning", the end of the arm is already in collision.

### Expected behaviour

![image](https://user-images.githubusercontent.com/104886227/190900964-c0a4c32b-aa06-473e-9

[2022-09-19 06:28] rhaschke commented on #728
The warning `Link 'panda_link0_sc' is not known to URDF. Cannot disable collisons.` indicates that you are using a too old version of `franka_description`. Please update, either using the [ros-testing repository](http://wiki.ros.org/TestingRepository) or building [from source](https://github.com/frankaemika/franka_ros/tree/develop/franka_description).

[2022-10-10 03:50] judgeee-wase opened #729 "I Cannot resolve "EIGEN_STATIC_ASSERT (EIGEN_IMPLIES(OtherMode==int(Affine)||OtherMode==int(AffineCompact), Mode!=int(Isometry))....""
I tried to go beyond versions from melodic to noetic. Now,  I tried to execute "catkin build" to the ROS workspace which use the "move_it" for kinetic or melodic,maybe , but it did not suceed. And I get the under Error message.
I am a beginner in using ubuntu. In addition, my English is poor, so I will give details in English as much as possible, but if you still have questions, please ask.

To Re

[2022-10-10 07:00] rhaschke commented on #729
The culprit is in your code here: `/home/user/catkin_ws/src/<package_name>/src/moveit_ik_solver.cpp:83`
Probably you try to assign an `Eigen::Affine3d` or `Eigen::Matrix4` to `Eigen::Isometry3d`, which is not possible.
You should update matrix declarations to Eigen::Isometry3d as we only use isometries in robotics.

I guess this code is IKfast code. If you don't manage to manually update the code,

[2022-10-11 21:50] Akumar201 opened #730 "Could not compute plan. No more prerecorded joint states to execute."
### Description
I am trying to calibrate xarm6  (https://github.com/xArm-Developer/xarm_ros) however getting the error
![image](https://user-images.githubusercontent.com/108360879/195204578-19a6c2a4-6055-46e5-b26b-92c0ee3b9cda.png)

### Your environment
* ROS Distro: Noetic
* OS Version: e.g. Ubuntu 22.04

### Steps to reproduce
I simplt followed the steps on https://ros-planning.github.io/moveit_

[2022-10-14 17:51] Sophoverick commented on #531
If you followed the [Getting started tutorials](http://docs.ros.org/en/melodic/api/moveit_tutorials/html/doc/getting_started/getting_started.html) that you were supposed to follow prior to this one then the kinematics file you are looking for should have been dowloaded. The directory of the kinematics file would be ~/ws_moveit/src/panda_moveit_config/config/kinematics.yaml, you would find [this fi

[2022-10-17 16:35] RumailM opened #731 "potential error in documentation"
If I understand correctly the master branch of this repo is meant for ros noetic. I was going through the tutorials and I noticed that for the panda_moveit_config we are chosing the melodic-devel branch instead of the noetic-devel branch. Is there a reason for this?

https://github.com/ros-planning/moveit_tutorials/blob/master/doc/getting_started/getting_started.rst line 46

`git clone https://git

[2022-10-18 06:19] rhaschke commented on #731
Closed via #732

[2022-10-18 06:19] #731 closed

[2022-10-18 16:37] karnikram opened #734 "Regd. Setup Assistant Tutorial"
### Description

Hi, I'm trying to setup the Franka Panda arm for Gazebo by following the setup assistant [tutorial](https://ros-planning.github.io/moveit_tutorials/doc/setup_assistant/setup_assistant_tutorial.html). But the tutorial refers to the file `panda_arm.urdf.xacro` which is not available in the Franka [package](https://github.com/frankaemika/franka_ros/tree/noetic-devel/franka_descriptio

[2022-10-18 17:50] rhaschke commented on #734
If you have a look into the way [panda_moveit_config loads the URDF](https://github.com/ros-planning/panda_moveit_config/blob/noetic-devel/launch/planning_context.launch#L11), you see that there is an argument `hand`, which can be set to true to enable the hand:
[code]
Unfortunately, @frankaemika maintainers have hidden all argument declarations in file [`franka_robot.xacro`](https://github.com/fr

[2022-10-18 17:50] #734 closed

[2022-10-18 17:58] Akumar201 opened #735 "ABORTED: No motion plan found. No execution attempted."
### Description

I am trying to write a code to move real xarm 6 dof using (https://ros-planning.github.io/moveit_tutorials/doc/move_group_python_interface/move_group_python_interface_tutorial.html) as reference , when I am using planning to joint goal(joint_goal = move_group.get_current_joint_values()) it's working, however Planning to a Pose Goal (pose_goal = geometry_msgs.msg.Pose())  is not wo

[2022-10-18 20:03] Akumar201 commented on #735
I resolved this issue, we have to include a goal tolerance parameter and include the values accordingly. For example

[code]

[2022-10-18 20:03] #735 closed

[2022-10-19 17:24] Akumar201 commented on #730
I resolved the issue the problem with my code was that I was giving

however, I should also give the quaternions as the planning scene was colliding with the end-effector  without it and hence oit was failing to provide a path. In addition to this I also change `set_goal_tolerance(1e-6)`

for reference this is new values

    pose_goal.position.x = 0.6281073954848061
    pose_goal.position.y = -0.

[2022-10-19 17:24] #730 closed

[2022-10-25 19:47] Akumar201 opened #736 "Using callibration result"
### Description

Hi, I am new to ROS, I would like to know how can I use Hand-Eye Calibration results.
I am using https://ros-planning.github.io/moveit_tutorials/doc/hand_eye_calibration/hand_eye_calibration_tutorial.html to callibrate my robot.

[2022-10-25 20:10] Akumar201 opened #737 "No, Object frame while doing calibration"
### Description

I am doing eye to hand calibration, however while following the tutorial at https://ros-planning.github.io/moveit_tutorials/doc/hand_eye_calibration/hand_eye_calibration_tutorial.html I am not able to find Object frame, can you please tell me where I am doing it wrong and what is Object frame ?

![image](https://user-images.githubusercontent.com/108360879/197871222-5fc11f52-a499-4

[2022-11-15 09:46] slabua opened #738 "Realtime Arm Servoing tutorial obsolete"
### Description

As per title.
Various commands do not match the latest status of the ros-industrial/universal_robot repository.

### Your environment
* ROS Distro: Noetic

[2022-11-15 10:08] rhaschke commented on #738
I guess you mean the tutorial is outdated, not obsolete?
Please provide a PR to fix the broken commands. Thanks.

[2022-11-17 07:54] Robotawi commented on #738
I encountered some problems with the servo tutorial before and solved them. I will follow the tutorial again and suggest modifications in a PR accordingly. Feel free to assign this to me @rhaschke

[2022-11-17 12:37] slabua commented on #738
@Robotawi thank you! Have you also used it with a real robot? I'm trying to move an UR5e and I'm half way through.

[2022-11-18 11:22] Robotawi commented on #738
My pleasure! It was a Gazebo-simulated xArm7 robot @slabua
I will make sure to try on a real robot this time.

It is great you made some progress. Can you describe the issues you encountered?

[2022-11-18 11:35] slabua commented on #738
Hi @Robotawi I ended up using the kinetic branch of ros-industrial/universal_robot with the remaining stuff set for noetic since I did not have enough time to find out the new commands and controller names. That is not ideal but two obsolete things worked well together after all.
Also, in order to use the real robot I had to use packages from the Universal_Robots_ROS_Driver repository and run the

[2022-11-21 19:27] rhaschke commented on #738
Thanks, @Akumar201 for this info. It would be great if you could file a PR providing the newly required commands.
You can edit and file a PR directly from your browser: https://github.com/ros-planning/moveit_tutorials/edit/master/doc/realtime_servo/realtime_servo_tutorial.rst

[2022-11-28 05:22] Akumar201 commented on #736
Create a publisher and publish the translation and rotation vector using listener.lookupTransform('/link_base', '/color_recog', rospy.Time(0))

[2022-11-28 05:22] #736 closed

[2022-11-30 00:02] Akumar201 commented on #738
Hi, I found out that right now the easiest way would be to use the old version from https://github.com/ros-industrial/universal_robot/tags 1.2.7. I am working on the latest version to make it compatible and will push the changes once done.